/* $id */

.draft_save {
  display: none;
  position: absolute;
  z-index: 100;
  width: 400px;
  height: 100px;
  background: #dddddd;
  text-align: center; }
  .draft_save .title {
    border: 1px solid black;
    background: #ff9933;
    text-align: center; }
  .draft_save .body {
    text-align: center;
    color: #000;
    margin-top: 15px; }
